.electandsidebar__body {
    width: 79%;
    height: max-content;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.sub__electronics__body {
    background-color: #f1f7fa;
    min-height: 50vh;
    height: max-content;
}

.sub__electronics__body__content {
    margin: 0 auto;
    width: 94%;
}

.electronics__label{
    width: 100%;
    height: 30px;
    display: flex;
}

.home__label {
    color: #a6c0c9;
    font-size: smaller;
    margin-right: 10px;
}

.elect__label {
    color: #a6c0c9;
    font-size: smaller;
    margin-right: 20px;
    margin-left: 5px;
}

.electronics__biglabel {
    width: 100%;
    height: max-content;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: x-large;
    font-weight: 700;
    margin-left: 5px;
    color: rgb(59, 59, 105);
}

.electronics__products {
    max-width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    
}

.product {
    margin-bottom: 20px;
}

.product__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

